name: ci

on:
  push:
    branches: [main, dev]
  pull_request:

jobs:
  build-and-test:
    name: build and test
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: setup nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: setup rust cache
        uses: Swatinem/rust-cache@v2

      - name: build
        run: nix develop --command just build

      - name: run tests
        run: nix develop --command cargo test -p simulation
