name: ci

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-and-test:
    name: build and test
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: setup nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: setup nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: build wasm
        run: nix develop --command just wasm

      - name: build web
        run: nix develop --command bash -c "cd web && bun run build"

      - name: run tests
        run: nix develop --command cargo test -p simulation
